* {
  margin: 0;
  padding: 0;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(#1e81f2, #1e68f2);
}
.sticky-box {
  display: inline-block;
  border: 1px solid black;
  padding: 40px;
}

.sticky-box__innercircle {
  width: 120px;
  height: 120px;
  border: 1px solid #fff;
}

.sticky-box__content {
  width: 90px;
  height: 90px;
  border: 1px solid #1e61f2;
  border-radius: 50%;
  transition: 0.5s;
  position: absolute;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky-box--child {
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
}

.sticky-box__innercircle--child {
  width: 70px;
  height: 70px;
  border: 1px solid #fff;
}

.sticky-box__content--child {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 50%;
  transition: 0.5s;
  position: absolute;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky-box,
.sticky-box__innercircle,
.sticky-box__content,
.sticky-box--child,
.sticky-box__innercircle--child,
.sticky-box__content--child {
  box-sizing: border-box;
}
